.works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.small-work {
  margin-right: 30px;

  animation: display-modal-in 0.2s ease-in-out;
}
.buttons {
  display: none;
  justify-content: center;
  align-items: center;
  animation: display-modal-in 0.2s ease-in-out;
}
.small-work-item {
  transition: all 0.3 ease-in-out;
}
